/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;1,200;1,300&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400&display=swap');

*{padding: 0; margin: 0; box-sizing: border-box;}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

:root{
    --drak-bg-color:#e92b2b;
    --light-bg-color:#f1f1f1;
    --drak-text-color:#e92b2b;
    --light-text-color:#f1f1f1;
    --light-border-color:#ffffff
}

.container{
    display: block;
    margin: auto;
    max-width: 1280px;
}